* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:root {
	--background-color: rgb(245, 245, 245);
	--white-color: white;
	--point-color: rgb(250, 47, 88);
	--blue-color: blue;
	--red-color: red;
	--gray-color: rgb(173, 173, 173);
}

html {
	font-size: 10px;
}

body {
	background-color: var(--background-color);
}

#container {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	gap: 1.5rem;
	align-items: center;
}

header {
	display: flex;
	width: 90vw;
	height: 5rem;
	font-size: 16px;
	align-items: center;
	justify-content: center;
	margin-top: 1.5rem;
	background-color: var(--white-color);
	border-radius: 0.6rem;
}

#asset_box {
	display: flex;
	width: 90vw;
	height: 15rem;
	padding: 5rem;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	border-radius: 0.6rem;
	background-color: var(--white-color);
}

#asset {
	display: flex;
	flex-direction: column;
}

#asset>h3 {
	font-size: 25px;
}

#asset_box>div {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.income {
	color: var(--blue-color);
}

.spending {
	color: var(--red-color);
}

#list {
	display: flex;
	width: 90vw;
	height: calc(100% - 32.5rem);
	padding: 0.5rem;
	flex-direction: column;
	background-color: var(--white-color);
	border-radius: 0.6rem;
}

#list_header {
	display: flex;
	height: 7rem;
	padding: 1.5rem;
	font-size: 16px;
	flex-direction: column;
	gap: 2rem;
	padding-bottom: 0;
	margin-bottom: 2.5rem;
}

#list_name {
	font-size: 14px;
	margin-left: 0.5rem;
}

#list_header>div {
	display: flex;
	justify-content: space-between;
}

#date_wrapper {
	display: flex;
	gap: 1rem;
}

#date_wrapper>span {
	cursor: pointer;
}

#date_wrapper>p {
	display: flex;
	align-items: center;
}

#contents_list {
	display: flex;
	width: 100%;
	height: calc(100vh - 39.5rem);
	padding: 1.5rem;
	flex-direction: column;
	gap: 2rem;
	padding-top: 0;
	overflow: scroll;
}

.contents {
	display: flex;
	padding: 0.5rem;
	font-weight:500;
	font-size: 13px;
	justify-content: space-between;
}

.history {
	font-weight:500;
	font-size: 13px;
}

.contents>div {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.place {
	width: 30vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.closeBtn {
	font-size: 1.1rem;
	cursor: pointer;
}

footer {
	display: flex;
	position: fixed;
	bottom: 1.5rem;
	width: 90vw;
	height: 5rem;
	padding: 0 5rem;
	color: var(--white-color);
	gap:50%;
	justify-content:center;
	align-items: center;
	background-color: var(--point-color);
	border-radius: 0.6rem;
}

footer span, i {
	font-size: 16px;
	cursor: pointer;
}

#buttons{
	display: flex;
	gap:0.7rem;
	align-items: center;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+label {
	width: 4rem;
	padding: 0.2rem 0.4rem;
	border: 1px solid var(--gray-color);
	font-size: 12px;
	text-align: center;
	border-radius: 0.3rem;
	cursor: pointer;
}

input[type="checkbox"]:checked+label {
	border: 1px solid var(--point-color);
	color: var(--white-color);
	background-color: var(--point-color);
}

input[type="radio"] {
	display: none;
}

input[type="radio"]+label {
	width:5rem;
	padding: 0.2rem 0.4rem;
	border: 1px solid var(--gray-color);
	text-align: center;
	border-radius: 0.3rem;
	cursor: pointer;
}

input[type="radio"]:checked+label {
	border: 1px solid var(--point-color);
	color: var(--white-color);
	background-color: var(--point-color);
}

.modal_background{
	display: none;
	position: fixed;
	width: 100%;
	height:100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal_container{
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50%;
	padding: 1rem;
	font-size: 12px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: var(--background-color);
	border-radius: 1rem 1rem 0 0;
}

.modal_header_wrapper{
	display: flex;
	width:90%;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}
.modal_header{
	display: flex;
	width: 100%;
	font-weight: 550;
	font-size: 16px;
	justify-content: space-between;
}
.modal_header p{
	width: 20%;
	text-align: center;
	margin-left: 40%;
}
.modal_button_container{
	display: flex;
	gap: 0.7rem;
}
#spend_category_wrapper{
	display: none;
}
.modal_contents{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.modal_contents > div{
	display: flex;
	flex-direction: column;
}
#close_modal{
	cursor: pointer;
}
#saveBtn{
	width:5rem;
	padding: 0.2rem 0.4rem;
	border: 1px solid var(--gray-color);
	border-radius: 0.3rem;
	cursor: pointer;
}

.delete_modal_background{
	display: none;
	position: fixed;
	width: 100vw;
	height:100vh;
	justify-content: center;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
}
.delete_modal{
	display: flex;
	position:fixed;
	top: 40%;
	width: 20rem;
	padding: 1rem 2rem;
	font-size: 12px;
	flex-direction: column;
	background-color: var(--white-color);
	border-radius: 0.4rem;
	gap: 1.5rem;
}
.delete_modal_button{
	display: flex;
	align-self: flex-end;
	gap:1rem;
}
.category_container{
	display: flex;
	width: 100%;
	height:100%;
	flex-direction: column;
	gap: 1.5rem;
	align-items: center;
	background-color: var(--background-color);
}
.category_section{
	display: flex;
	width: 90vw;
	height: calc((100vh - 17.5rem)/2);;
	padding: 5rem;
	flex-direction: column;
	background-color:var(--white-color);
	border-radius: 0.6rem;
	gap: 3rem;
	align-items: center;
}
.category_name{
	font-weight: 600;
	font-size:16px;
}
.income_category_list, .spend_category_list{
	display: flex;
	list-style: none;
	width: 60vw;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.7rem;
}
.category{
	width:5rem;
	padding: 0.2rem 0.4rem;
	border: 1px solid var(--gray-color);
	text-align: center;
	border-radius: 0.3rem;
}
#income_category_input, #spend_category_input{
	border-left-width:0;
	border-right-width:0;
	border-top-width:0;
	border-bottom-width:1;
}
#income_category_input, #spend_category_input:focus{
	outline: none;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

