*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
header {
    display:flex;
    padding-left: 1rem;
    background-color: #333;
    color: white;
    font-size: 20px;
}
#preview_container {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    margin:1rem;
    overflow: scroll;
}
.image {
    width: 200px;
    height: 250px;
}
nav ul{
    display: flex;
    gap: 35px;
    justify-content: center;
    list-style: none;
    
}
.city{
    text-decoration: none;
}
.city:hover{
    color:blue;
    text-decoration: underline;
}

#first{
    display: flex;
    gap:3rem;
    flex-direction: column;
    margin-bottom: 3rem;
}
#first_images{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-left:1rem;
    margin-right:1rem;
}
#first_images > img{
    width: 200px;
    height: 200px;
}

#second{
    display: flex;
    gap:3rem;
    flex-direction: column;
    margin-bottom: 3rem;
}

#second_images{
    display:flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
   
}
#group2{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}
#group3{
    display: flex;
    flex-direction: column;
}
#f_item1{
    width: 600px;
    height: 600px;
    background-image: url("images/melbourne2.jpg");
    background-size: 100% 100%;
}
#f_item2{
    width: 300px;
    height: 292.5px;
    background-image: url("images/melbourne1.jpg");
    background-size: 100% 100%;
    margin-bottom: 1rem;
}
#f_item3{
    width: 300px;
    height: 292.5px;
    background-image: url("images/melbourne10.jpg");
    background-size: 100% 100%;
    
}
#f_item4{
    width: 300px;
    height: 292.5px;
    background-image: url("images/melbourne11.jpg");
    background-size: 100% 100%;
    margin-bottom: 1rem;
}
#f_item5{
    width: 300px;
    height: 292.5px; 
    background-image: url("images/melbourne6.jpg");
    background-size: 100% 100%;
}

#third{
    display: flex;
    gap:3rem;
    flex-direction: column;
    margin-bottom: 3rem;
}

#third_images{
    display: grid;
    grid-template-rows: repeat(4,150px);
    grid-template-columns:repeat(4,300px);
    gap: 1rem;
    margin-left:7rem;
    margin-right:7rem;
    justify-content: center;
}
#g_item1{
    background-image: url("images/newcastle5.jpg");
    background-size: 100% 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#g_item2{
    background-image: url("images/newcastle4.jpg");
    background-size: 100% 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
}
#g_item3{
    background-image: url("images/newcastle3.jpeg");
    background-size: 100% 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
#g_item4{
    background-image: url("images/newcastle2.jpeg");
    background-size: 100% 100%;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
}
#g_item5{
    background-image: url("images/newcastle1.jpg");
    background-size: 100% 100%;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}

.chapter_container{
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding-left: 1rem;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
.material-symbols-outlined{
    color: white;
}
