*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 245, 245) ;
}
#container{
    display: flex;
    flex-direction: column;
    width:100vw;
    gap: 0.7rem;
    align-items: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 7vh;
    margin-top: 0.7rem;
    background-color: white;
    border-radius: 0.6rem;
}
#asset_box{
    display:flex;
    width:90vw;
    height: 20vh;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    border-radius: 0.6rem;
    background-color: white;
    text-align: center;
}
#asset{
    display: flex;
    flex-direction: column;
}
#asset_box > div{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.income{
    color: blue;
}
.spending{
    color: red;
}
#list{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90vw;
    height: 60vh;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
#list_header{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}
#list_header > div{
    display: flex;
    justify-content: space-between;
}
#contents_list{
    display: flex; 
    flex-direction: column;
    gap: 0.5rem;
    padding:0.5rem;
    width: 100%;
    height: 50vh;
    overflow: scroll;
}
.content{
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}
.content > div{
    display: flex;
    gap:1rem
}

footer{
    width: 100vw;
    height: 7vh;
    background-color: rgb(236, 236, 236);
    position : fixed;
    bottom: 0;
}